/* font config */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    position: relative;
}

.wrapper {

}

/* background home */
/* .bg-home {
    background-image: url('img/bg-laurentsai.jpg');
    height: 100vh;
    width: 100%;

} */

/* style navigasi button */
ul {
    list-style: none;
    width: 100%; 
    text-align: center;
}

li {
    display: inline-block;
    margin: 30px;
}

/* style link */

.nav-link {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    padding: 18px 0;
    color: black;
}

.nav-link::before {
    z-index: -1;
    content: "";
    background-color: #fadb44;
    bottom: 15px;
    width: 100%;
    height: 3px;
    position: absolute;
    transition: all 0.2s ease-out;
}

.nav-link:hover::before {
    height: 12px;
}

.nav-link:active {
    color: blue;
}

/* style konten home */
main {
    width: 100%;
    text-align: center;
    margin-top: 15vh;
}

.container {
    
    position: relative;
    min-height: 70vh;
    padding-bottom: 100px;
}

.content-wrap{
    margin: 0 auto;
    width: 70vh;
}



.title-page,
.p-page {
    text-align: left;
    margin-bottom: 15px;
}


/* style footer */
.footer{
    position: absolute;
    bottom: 0;
/* 
    padding-bottom: 10px; */
    width: 100%;
    color: black;
    height: 2.5rem;
    text-align: center;
}

/* name */

#main-name {
    font-size: 5rem;
}

#sub-name {
    margin-top: 15px;
    font-size: 1.5rem;
}

/* thumnail image */
.content-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
    /* display: inline-block; */
    width: 50%;
    margin: 0 auto;
}

.thumbnail {
    width: 100%;
    max-width: 240px;
    height: auto;
    padding: .5rem;
    
}