/* font config */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    position: relative;
    background: #fffbfb; 
}

.wrapper {
    
}

/* background home */
/* .bg-home {
    background-image: url('img/bg-laurentsai.jpg');
    height: 100vh;
    width: 100%;

} */

/* style navigasi button */
ul {
    list-style: none;
    width: 100%; 
    text-align: center;
}

li {
    display: inline-block;
    margin: 30px;
}

/* style link */

.nav-link {
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    padding: 18px 0;
    color: #676867;
}

.nav-link::before {
    z-index: -1;
    content: "";
    background-color: #869570;
    bottom: 15px;
    width: 100%;
    height: 3px;
    position: absolute;
    transition: all 0.2s ease-out;
}

.nav-link:hover::before {
    height: 12px;
}

.nav-link:active {
    
}

/* style konten home */
main {
    width: 100%;
    text-align: center;
    margin-top: 15vh;
}

.container {    
    position: relative;
    min-height: 70vh;
    padding-bottom: 100px;
}

.content-wrap{
    margin: 0 auto;
    width: 70vh;
}


/* main style for content */
.title-page,
.p-page {
    text-align: left;
    margin-bottom: 15px;
}

.title-page {
    font-family: 'Lobster', cursive;
    font-size: 32px;
}

.p-page {
    font-size: 15px;
    line-height: 1.5;

}


/* style footer */
.footer{
    position: absolute;
    bottom: 0;
/* 
    padding-bottom: 10px; */
    width: 100%;
    color: black;
    height: 2.5rem;
    text-align: center;
}

/* Title name Home */

#main-name {
    font-family: 'Lobster', cursive;
    font-size: 80px;
}

#sub-name {
    margin-top: 15px;
    font-size: 1.5rem;
}

/* About Page */
#lauren-bio {
    text-align: justify;
}

#about-img {
    margin-bottom: 10px;
}

/* Gallery page */
.content-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: row wrap;
    width: 50%;
    margin: 0 auto;
}

.thumbnail {
    width: 100%;
    max-width: 240px;
    height: auto;
    padding: .5rem;
    
}


/* Contact page*/
.kontak{
    display: inline-block;
    text-align: left;
    margin: 20px;
}
#nama, #email, #phone{
    margin-bottom: 15px;
    font-size: 20px;
    width: 100%;
    padding: 5px;
    border: 1px solid #bac2cabe;
    border-radius: 5px;
}
#nama:hover, #email:hover, #phone:hover, #pesan:hover{
    box-shadow: 3px 3px 15px 3px #676867;
}
.kontak input[type="textarea"]{
    margin-bottom: 15px;
    font-size: 20px;
    width: 100%;
    height: 100px;
    padding: 5px;
    padding-top: 0;
    border: 1px solid #bac2cabe;
    border-radius: 5px;
}
#submit{
    background-color: #676867;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 60px 10px 60px;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    font-size: 18px;
    width: 100%;
    transition: all 0.5s ease-out;
}
#submit:hover{
    color: #000;
    background-color: #fff;
    border: 1px solid #676867;    
}
>>>>>>> 94efae7a3c8e63a6f364ec463f2d54c05716e2a4
>>>>>>> 99ee65aaf083dd75e90a5589d0b194db1c34ca95
